.tag {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 20px;

    margin-left: 5px;
}

.s {
    padding: 5px 10px;

    font-size: 12px;
    line-height: 12px;
}

.m {
    padding: 5px 10px;

    font-size: 18px;
    line-height: 18px;
}

.orange {
    background-color:#c7a50e;
    color: black;
}

.red {
    color: var(--white);
    background-color: #DE0000;
    font-weight: bold;
    position: absolute;
    bottom: 20px;
}

.grey {
    color: var(--green-light);
    background-color: #4365a3;

    font-weight: bold;
}

.green {
    color: var(--red);
    background-color: var(--green-light);

    font-weight: bold;
}

.primary {
    color: #DE0000;
    background-color: var(--white);
}