html,
body {
  margin: 0;
  padding: 0;
  color: var(--black);
  background: #F5F6F8;
  text-transform: capitalize;

  font-family: 'Noto Sans',   sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

:root {
  --black: #3B434E;
  --grey-light: #EBEBEB;
  --white: white;
  --primary: #7653FC;
  --primary-hover: #5432d9;
  --red: #FC836D;
  --green: #1dc37ed0;
  --green-light: #94f2cbfc;
  --font-family: 'Noto Sans',   sans-serif;
}

